{% extends "@ApplicationProjectContent/base/base_web.html.twig" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block javascriptsFooter %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 2%">
        <h2>{{ title }}</h2>

        <a href="{{ path("web_dashboard") }}" class="btn btn-secondary" >
            Voltar
        </a>
        <a href="{{ path('web_empresa_create') }}" class="btn btn-primary" >
            Cadastrar
        </a>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">nome</th>
                <th scope="col">email</th>
                <th scope="col">telefone</th>
                <th scope="col">cep</th>
                <th scope="col">estado</th>
                <th scope="col">cidade</th>
                <th scope="col">bairro</th>
                <th scope="col">rua</th>
                <th scope="col">numero</th>
                <th scope="col">complemento</th>
            </tr>
            </thead>
            <tbody>
            {% for data in objects %}
                <tr>
                    <th scope="row">
                        {{ data.id }}
                    </th>
                    <td>
                        {{ data.nome }}
                    </td>
                    <td>
                        {{ data.email }}
                    </td>
                    <td>
                        {{ data.telefone }}
                    </td>
                    <td>
                        {{ data.cep }}
                    </td>
                    <td>
                        {{ data.estado }}
                    </td>
                    <td>
                        {{ data.cidade }}
                    </td>
                    <td>
                        {{ data.bairro }}
                    </td>
                    <td>
                        {{ data.rua }}
                    </td>
                    <td>
                        {{ data.numero }}
                    </td>
                    <td>
                        {{ data.complemento }}
                    </td>
                    <td>
                        <a href="{{ path("web_empresa_show", { "id": data.id }) }}" class="btn btn-primary">
                            Exibir
                        </a>
                        <a href="{{ path("web_empresa_edit", { "id": data.id }) }}" class="btn btn-warning">
                            Editar
                        </a>
                        <a href="{{ path("web_empresa_delete", { "id": data.id }) }}" class="btn btn-danger" >
                            Deletar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}












